body {
    background-image: url("/assets/background.jpg");
    
}

.title {   
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: xx-large;
    color: #f5f5c1 ;
    background-color: #1a451f;
}

.logo {
    padding: 25px 50px 0px 50px;
    width: 10%;
    height: 15%;
    border-radius: 50%;
    
}

#container {
    display: flex;
}

.services {
    border: 2px solid white;

}
.areas {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    width: 75%;
}

.areaWrapper { 
    flex-basis: 25%;
    border: 2px solid saddlebrown;
    border-radius: 5%;
    margin: 5px 15px;
    padding: 10px;
    background-color: #f5f5c1;
    align-items: flex-start;  
}

.serviceList {
    list-style: none;
    
    
}

.guests {
    display: flex;
    justify-content: center;
    width: 25%;
    height: auto;
    background-color: #f5f5c1 ;
    border: solid 4px #1a451f;
    border-radius: 3%;
    margin: 3px;
}

.guest-list {
    list-style: none;
}
.end {
    font-size: medium;
    text-align: center;
    border-top: solid salmon 5px;
    color: blanchedalmond;
    background-color: #1a451f;
    

}